@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 11pt;
}

body {
    background-color: azure;
}

main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

h1 {
    font-size: 26pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 16pt;
    text-decoration: underline;
    padding-left: 5px;
}

h5 {
    font-size: 13pt;
}

/* .btn {
    border: 1px solid black;
    width: 25rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12pt;
} */

input {
    margin-left: 10px;
    padding: 2px;
    width: 25rem;
    font-size: 12pt;
}

#search-section {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 1rem;
}

#search-input {
    display: flex;
    flex-direction: column;
}


.globalHeader {
    margin-bottom: 10px;
    text-align: center;

}

.travel {
    text-align: center;
}

.options {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row;
    justify-content: space-evenly;
}

.favs {
    border: 3px solid black;
    width: 25rem;
    /* top: 8px; */
    /* right: 16px; */
    font-size: 18px;
    margin: 1rem 1rem 1rem 0;
}

.favs h3 {
    margin: 5px;
}

.favorites {
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.fav-btn {
    border: 1px solid black;
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 15px 10px 15px;
    font-size: 12pt;
}

.fav-btn:hover {
    background-color: #E8E8E8;
}

.rSection {
    /* padding: 70px 0; */
    border: 3px solid black;
    margin: 1rem;
    background-color: rgb(219, 240, 250);
}

.rDisplay {
    display: none;
}

.rSection h3 {
    margin: 10px;
}

.opts {
    border: 3px solid black;
    width: 33%;
    /* height: 50vh; */
    /* text-align: center; */
    margin: 8px;
}

#articles {
    border-bottom: 5px solid darkblue;
    margin: 2px;
    padding: 0 3px 0 3px;
}

#article5 {
    margin: 2px;
    padding: 0 3px 0 3px;
}

.events {
    display: none;
}

.event-links {
    text-decoration: none;
    text-decoration: underline;
    color: rgb(77, 27, 196);
    font-size: 16pt;
}

.event-links:hover {
    cursor: pointer;
    color: maroon;
    font-weight: bold;
}

.exchange-input {
    width: 10rem;
}

.wrapper {
    margin: 1rem;
}

.currency-form {
    display: flex;
    flex-flow: column;
    justify-content:space-around;
    padding-right: 10px;
}

.amount {
    padding: 1px;
}

.drop-list {
    padding: 1px;
}

.select-display {
    display: flex;
}

.select-box {
    padding: 1px;
}

.flags {
    max-height: 1rem;
    width: 2rem;
}

.weather {
    display: none;
}

#weather-card {
    border: 1px solid darkblue;
    margin: 5px;
    padding: 0 3px 0 3px;
}